body {
	background-color: black;
	font-family: Verdana;
}
header {
	padding: 20 px 0;
}

header .row,
footer .row {
	color: gray;
	align-items: center;
}

nav {
	display: flex;
	justify-content: flex-end;
}

a {
	padding: 0 70px;
	margin: 0;
	color: white;
}

.jumbotron {
	background-size: cover;
	background-image: url(https://wallpaperaccess.com/download/bmw-light-1804500);
	height: 900px;
}

.jumbotron h2 {
	font-size: 40px;
	font-weight: 800;
	color: white;
	margin-top: 100px;
}

.jumbotron h3 {
	margin: 0 0 20px;
	color: white;
	font-size: 16px;
	color: gray;
}

.row a {
	background: black;
	border: 2px solid black;
	border-radius: 3px;
	color: white;
	display: inline-block;
	text-decoration: none;
	margin: 10px;
}

.row a:hover {
	background: white;
	border: 1px solid black;
	color: black;
}

h4 {
	margin-top: 100px;
	justify-content: center;
	display: flex;
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
}
img {
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;


}

ul {
	font-size: 20px;
	color: gray;
	margin-left: 360px;
	margin-right: 360px;
	justify-content: center;
}

.container a {
	background: white;
	border: 3px solid black;
	border-radius: 4px;
	color: black;
	display: inline-block;
	text-decoration: none;
	margin: 0px;
}

.container a:hover {
	background: gray;
	border: 1px solid black;
	color: white;
}